@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap");

@improt url("./variables.css");

:root {
  /* Colors must be in HSL format */
  --color-primary-50: 240deg 88% 97%;
  --color-primary-100: 244deg 87% 94%;
  --color-primary-200: 244deg 82% 89%;
  --color-primary-300: 247deg 78% 82%;
  --color-primary-400: 252deg 74% 74%;
  --color-primary-500: 255deg 71% 67%;
  --color-primary-600: 260deg 63% 56%;
  --color-primary-700: 262deg 48% 51%;
  --color-primary-800: 261deg 46% 41%;
  --color-primary-900: 259deg 39% 34%;
  --color-primary-950: 260deg 39% 20%;

  --color-secondary-100: 198deg 93% 60%;
  --color-secondary-200: 198deg 93% 60%;
  --color-secondary-300: 198deg 93% 60%;
  --color-secondary-400: 198deg 93% 60%;
  --color-secondary-500: 198deg 93% 60%;
  --color-secondary-600: 198deg 93% 60%;
  --color-secondary-700: 198deg 93% 60%;
  --color-secondary-800: 198deg 93% 60%;
  --color-secondary-900: 198deg 93% 60%;

  --rainbow-gradient: linear-gradient(
    90deg,
    #652ddd,
    #eab308,
    #3b82f6,
    #dd1a67,
    #652ddd,
    #eab308,
    #3b82f6,
    #dd1a67,
    #652ddd
  );

  --light-noise: url("/light-noise.svg");
  --noise2: url("/noise2.svg");

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Nunito", sans-serif;

  --separator-border: #919191; /* same as --color-thertiary-400 */
  --focus-border: #007fd4;
  --sash-size: 8px;
  --sash-hover-size: 4px;
}

body {
  overflow-x: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*------------------------------------*/
@import url("./rainbowButton.css");
@import url("./rainbowText.css");
@import url("./rainbowDiv.css");
@import url("./accordion.css");
@import url("./dialog.css");
@import url("./toast.css");
@import url("./allotment.css");
@import url("./scrollbar.css");
@import url("./multiRangeSlider.css");